#menuouter {
  height: 84px;
}

.table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontallist {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontallist li {
  display: inline;
  margin: 21px 22px 21px 22px;
}
