.chatbar {
  height: 20px;
  width: 90%;
  margin-top: 20px;
  margin-left: 50px;
  background-color: gray;
  color: #fff;
  border-style: solid;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
